.box{
  background-color: aqua;
  width:900px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid black;
  text-align: center;
}

.produto -box{
background-color: lightcyan;
display: flex;
justify-content: center;
align-items: center;
margin-top: 25px;
}

.h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.h1{
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: blueviolet;
  color: white;
  text-align: center;
}

.grid-botoes{
  display:  flex;
  justify-content: space-evenly;
  align-items: center;

}

.btn-Excluir{     
    background-color: red;
    color: white;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 3.5rem;
    width: 30%;
    border: none;
    cursor: pointer;    
}

.btn-Detalhes{     
  background-color: blue;
  color: white;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 3.5rem;
  width: 30%;
  border: none;
  cursor: pointer; 
      
}

.btn-Adicionar{     
  background-color: gray;
  color: white;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 3.5rem;
  width: 30%;
  border: none;
  cursor: pointer;
  margin-top: 60px;
      
}

.paragrafo{
  background-color: coral;
  color: white;
  width: 60%;
  height: 3.5rem;
  tab-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centro{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-Alterar{     
  background-color: blue;
  color: white;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 3.5rem;
  width: 30%;
  border: none;
  cursor: pointer; 
      
}

.btn-Voltar{     
  background-color: gray;
  color: white;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 3.5rem;
  width: 30%;
  border: none;
  cursor: pointer; 
      
}

.margin{
  margin-top: 60px;
}


